:root {
  --font-xxl: 5rem;
  --font-xl: 2rem;
  --font-l: 1.5rem;
  --font-m: 1.25rem;
  --font-sm: 1rem;
  --font-xsm: 0.75rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  :root {
    --font-xxl: 3rem;
    --font-xl: 1.5rem;
    --font-l: 1.25rem;
    --font-m: 1rem;
    --font-sm: 1rem;
    --font-xsm: 0.55rem;
  }
  .vertical-flow {
    flex-direction: column;
    justify-content: center;
  }
  .profession .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    width: 100% !important;
    padding: 34px 24px;
  }
  .two-column {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    column-gap: 14px;
    -webkit-column-gap: 14px;
    -moz-column-gap: 14px;
  }
  .card {
    max-width: 100% !important;
    overflow: hidden;
  }
  .photo {
    text-align: center;
  }
  .intro-text .text {
    text-align: center;
  }
  .social-links {
    justify-content: center;
  }
  .vertical-flow {
    gap: 64px 48px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1230px) {
  :root {
    --font-xxl: 4rem;
    --font-xl: 3rem;
    --font-l: 2rem;
    --font-m: 2rem;
    --font-sm: 1rem;
    --font-xsm: 1rem;
  }
  .container {
    width: 100% !important;
    padding: 64px 64px;
  }
  .vertical-flow {
    flex-direction: column;
    justify-content: center;
  }
  .profession .container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .two-column {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    column-gap: 32px;
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
  }

  .card {
    overflow: hidden;
  }
  .photo {
    text-align: center;
  }
  .intro-text .text {
    text-align: center;
  }
  .heading-5 {
    text-align: center;
  }
  .intro-text .sub-heading {
    text-align: center;
  }
  .header .photo img {
    max-width: 440px;
  }
  .social-links {
    justify-content: center;
  }
  .vertical-flow {
    gap: 64px 48px;
  }
}

@media only screen and (min-width: 1239px) {
  .profession .container {
    gap: 124px;
  }
}
